[Bot]
hashtags = 'cyberattaque','ransomware'
# Leave empty for first run 
lastrun = 
# DEBUG = True will give some information on standart output 
DEBUG = TRUE 
# choose one : fr,en,de,it, ... 
lang = fr 

[Twitter]
api_key = ''
api_key_secret = ''
access_token = ''
access_token_secret = ''
bearer_token = ''